.form-control {
	padding: 0.60em 1em;
	border: 1px solid #ccc;
	border-radius: 0.30em;
}

.btn {
	padding: 0.60em 0.70em;
	color: #FFF;
	background: #017AC9;
	font-weight: bold;
	border: none;
	border-radius: 0.30em;
}